<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CDD-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">

    <title>My Diner Project</title>
</head>
<body>
    <div class="container">
    <h1>Pat's Diner</h1>
        <p>Welcome to my diner, serving the world's best burgers!</p>
        <img src="images/img.png" alt="picture of a diner"><br>
        <label>Menus</label>
        <ul>
            <li><a href="breakfast">Breakfast</a></li>
            <li><a href="lunch">Lunch</a></li>
            <li><a href="dinner">Dinner</a></li>
        </ul>
        <button class="btn-primary">Place Order</button>
    </div>
</body>
</html>